<b> 1- Make a list of integers from 1 to 10  </b>

In [1]:
numbers = [number for number in range(1,11)]
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

<b> 2- Make a list of squares from 1 to 10 </b>

In [2]:
squars = [number**2 for number in range(1,11)]
squars

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

<b> 3- Make a list of even nums from 1 to 10 </b>

In [3]:
evens = [number*2 for number in range(1,11)]
evens

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

<b> 4- Make a list of multiple of 3 from 1 to 10 </b>

In [4]:
numbers = [number for number in range(1,11)]
three_s_multiples = [multiple*3 for multiple in numbers]
three_s_multiples

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

<b> 5- Find all digits in a given string and then make list of them </b>

In [5]:
sentence = "123 Hello4546 World 789"
numeric_letters_in_sentence = [number for number in sentence if number.isdigit()]
numeric_letters_in_sentence

['1', '2', '3', '4', '5', '4', '6', '7', '8', '9']

<b> 6- Find ascii values of the letters of given string then make a list of those values  </b>

In [6]:
sentence = "My name is abdul saboor" 
ascii_values = [ord(value) for value in sentence]
ascii_values

[77,
 121,
 32,
 110,
 97,
 109,
 101,
 32,
 105,
 115,
 32,
 97,
 98,
 100,
 117,
 108,
 32,
 115,
 97,
 98,
 111,
 111,
 114]

<b> 7- Make a list of all present in an string </b>

In [7]:
letters = "abcdecfghchi"
apl = [l for l in letters] 
apl

['a', 'b', 'c', 'd', 'e', 'c', 'f', 'g', 'h', 'c', 'h', 'i']

<b> 8- Find odd nums in list range 1-10 </b>

In [8]:
odd = [num for num in range(1,11) if num % 2 != 0]
odd

[1, 3, 5, 7, 9]

<b> 9- Make a list of nums of letters present in an string </b>

In [9]:
alphabets = "abcdefghij"
index = [i for i in range(0, len(alphabets))]
index

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

<b> 10- Make a list of prime nums from 1-100 </b>

In [10]:
[prime for prime in range(2, 100)
     if all(prime % y != 0 for y in range(2, prime))]

[2,
 3,
 5,
 7,
 11,
 13,
 17,
 19,
 23,
 29,
 31,
 37,
 41,
 43,
 47,
 53,
 59,
 61,
 67,
 71,
 73,
 79,
 83,
 89,
 97]

<b> any(keyword) practice </b>

In [11]:
        
# Since all are false, false is returned 
print (any([False, False, False, False])) 
  
# Here the method will short-circuit at the 
# second item (True) and will return True. 
print (any([False, True, False, False])) 
  
# Here the method will short-circuit at the 
# first (True) and will return True. 
print (any([True, False, False, False]))

False
True
True

<b> all(keyword) practice </b>

In [12]:
             
# Here all the iterables are True so all 
# will return True and the same will be printed 
print (all([True, True, True, True])) 
  
# Here the method will short-circuit at the  
# first item (False) and will return False. 
print (all([False, True, True, False])) 
  
# This statement will return False, as no 
# True is found in the iterables 
print (all([False, False, False]))

True
False
False

<b> 11- Make a list of nums that are multiple of 7 from 1 to 1000 </b>

In [13]:
table_7 = [number for number in range(7,1000,7)]
table_7

[7,
 14,
 21,
 28,
 35,
 42,
 49,
 56,
 63,
 70,
 77,
 84,
 91,
 98,
 105,
 112,
 119,
 126,
 133,
 140,
 147,
 154,
 161,
 168,
 175,
 182,
 189,
 196,
 203,
 210,
 217,
 224,
 231,
 238,
 245,
 252,
 259,
 266,
 273,
 280,
 287,
 294,
 301,
 308,
 315,
 322,
 329,
 336,
 343,
 350,
 357,
 364,
 371,
 378,
 385,
 392,
 399,
 406,
 413,
 420,
 427,
 434,
 441,
 448,
 455,
 462,
 469,
 476,
 483,
 490,
 497,
 504,
 511,
 518,
 525,
 532,
 539,
 546,
 553,
 560,
 567,
 574,
 581,
 588,
 595,
 602,
 609,
 616,
 623,
 630,
 637,
 644,
 651,
 658,
 665,
 672,
 679,
 686,
 693,
 700,
 707,
 714,
 721,
 728,
 735,
 742,
 749,
 756,
 763,
 770,
 777,
 784,
 791,
 798,
 805,
 812,
 819,
 826,
 833,
 840,
 847,
 854,
 861,
 868,
 875,
 882,
 889,
 896,
 903,
 910,
 917,
 924,
 931,
 938,
 945,
 952,
 959,
 966,
 973,
 980,
 987,
 994]

<b> 12- Make a list of num from 1 to 100 in which multiple of 3, 7 & 9 are not included </b>

In [14]:
numbers = [number for number in range(1,100) if number % 3!= 0 and number % 7!= 0 and number % 9!= 0]
numbers

[1,
 2,
 4,
 5,
 8,
 10,
 11,
 13,
 16,
 17,
 19,
 20,
 22,
 23,
 25,
 26,
 29,
 31,
 32,
 34,
 37,
 38,
 40,
 41,
 43,
 44,
 46,
 47,
 50,
 52,
 53,
 55,
 58,
 59,
 61,
 62,
 64,
 65,
 67,
 68,
 71,
 73,
 74,
 76,
 79,
 80,
 82,
 83,
 85,
 86,
 88,
 89,
 92,
 94,
 95,
 97]

<b> 13- Make a list from 1 to 100 in which one or both digits are 3 </b>

In [15]:
list = []
for no in range(1,100):
    no_in_string = str(no)
    for i in range(0, len(str(no))):
        if no_in_string[i] == '3':
            list.append(no)
list

[3, 13, 23, 30, 31, 32, 33, 33, 34, 35, 36, 37, 38, 39, 43, 53, 63, 73, 83, 93]

<b> And now with list comprehension </b>

In [16]:
numbers = [number for number in range(1,100) for i in range(0,len(str(number))) if str(number)[i] == '3']
numbers

[3, 13, 23, 30, 31, 32, 33, 33, 34, 35, 36, 37, 38, 39, 43, 53, 63, 73, 83, 93]

<b> 14- Make a list of letters that are present in a given string string without vowels </b>

In [17]:
sentence = "I want to become a data scientist"
vowels = ['a','e','i','o','u','A','E','I','O','U']
letters = [letter for letter in sentence]
letters
s = ''
for letter in letters:
    if letter not in vowels:
        s+= letter
s

' wnt t bcm  dt scntst'

<b> And now with list comprehension </b>

In [18]:
sentence = "I want to become a data scientist"
vowels = ['a','e','i','o','u','A','E','I','O','U']
letters = [letter for letter in sentence if letter not in vowels]
letters

[' ',
 'w',
 'n',
 't',
 ' ',
 't',
 ' ',
 'b',
 'c',
 'm',
 ' ',
 ' ',
 'd',
 't',
 ' ',
 's',
 'c',
 'n',
 't',
 's',
 't']

<b> 15- Make a list of words in a sentence that have < 5 letters </b>

In [19]:
sentence = "I want to become a data scientist"
words = [word for word in sentence.split() if (len(word) < 5)]
words

['I', 'want', 'to', 'a', 'data']

<b> 16- Make 2 list of integers having 5 elements and then make a 3rd list that adds elements of both list </b>

In [20]:
numbers_1 = [1,2,3,4,5]
numbers_2 = [11,12,13,14,15]
numbers = [x+y for x in numbers_1 for y in numbers_2]
numbers

[12,
 13,
 14,
 15,
 16,
 13,
 14,
 15,
 16,
 17,
 14,
 15,
 16,
 17,
 18,
 15,
 16,
 17,
 18,
 19,
 16,
 17,
 18,
 19,
 20]